{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-2  form-control-sm" >
        <div class="col-lg-5 mx-auto border rounded p-3 h-50">
            <h3 class="alert alert-light border rounded">
              Create An Account
            </h3>
            <form action="/signup" method="POST">
              {% csrf_token %}
                {% if  error %}
              <div class="alert alert-danger" role="alert">
               {{error}}
              </div>
                {% endif %}



              <!-- firstname-->
              <div class="form-group mb-3">
                <label for="">First Name</label>
                <input type="text" name="firstname" value="{{values.first_name}}" class="form-control" placeholder="">
              </div>

                 <!-- lastname -->
              <div class="form-group mb-3">
                <label for="">Last Name</label>
                <input  type="text" name="lastname" value="{{values.last_name}}" class="form-control" placeholder="">
            </div>

                 <!-- phoneno -->
              <div class="form-group mb-3">
                <label for="">Phone Number</label>
                <input  type="text" name="phone"  value="{{values.phone}}" class="form-control" placeholder="+91">
            </div>


              <!-- email -->
              <div class="form-group mb-3">
                <label for="">Email</label>
                <input  type="email" name="email" value="{{values.email}}" class="form-control" placeholder="example@gmail.com">
            </div>

              <!--passowrd -->
              <div class="form-group mb-3">
                <label for="">Password</label>
                <input  type="password" name="password"  class="form-control" placeholder="********">
            </div>

            <div class="form-group">
                <button  type="submit" class="btn btn-sm btn-info">Create An Account</button>
            </div>


            </form>
        </div>
    </div>
</div>



{% endblock %}